.bigfont {
    font-size: 100px ;
    color: darkgreen;
}
.right {
    text-align:right ;
}
#box {
    width: 300px;
    height: 300px;
    margin-left: 100px;
    background-color: navajowhite;
}
div {
    background-color:rgb(255, 252, 104); 
 }

 /*整個table的調整*/
 table{
    border-collapse: collapse;
    width: 770px; 	
    /*自動斷行*/
    word-wrap: break-word;
    table-layout: fixed;
}